* {
  box-sizing: border-box;
  background-color: rgb(21, 45, 65);
}

body {
  font-family: 'Helvetica';
  color: rgb(235, 226, 209);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.name {
    font: 'Open Sans';
    font-size: 50px;
}

.head {
    color: blanchedalmond;
}

.title-image {
    width: 150px;
    margin-top: 10px; 
    height: auto;
    display: block; 
    margin-left: auto;  
    margin-right: auto; 
}
.top {
  border-bottom: 5px rgb(235, 226, 209); 
  padding: 15px;
  text-align: center;
  margin-bottom: 0;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    row-gap: 10px;
    column-gap: 5px;
    margin: 10px auto;
    max-width: 295px;
}

.cell {
    width: 50px;
    height:50px;
    border: 2px solid rgb(166, 166, 169);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10%;
}

.correct {
  background-color: green;
 
}

.incorrect {
  background-color: grey;
  
}

.nearly {
  background-color: orange;
}

.invalid {
  border: 3px solid red; 
}

.valid {
  border: 3px solid black;
}


.title-image {
  background: linear-gradient(145deg, #2c3e50, #3a4a5f);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.4)) linear-gradient(145deg, #2c3e50, #3a4a5f) ; /* Subtle shadow */
}
